.App {
  text-align: center;
}

button {
  font-size: 15px;
  margin: 15px;
  padding: 5px 10px;
  color: white;
  background-color: black;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100;
}

.Age {
  font-size: 40px;
  color: rgb(209, 255, 172);
  margin: 10px;
}

.DoubleAge {
  font-size: 60px;
  color: rgb(255, 187, 187);
  margin: 10px;
}

.ExtraData {
  font-size: 20px;
  color: rgb(155, 187, 187);
  margin: 10px;
}

.Wrapper {
  background-color: black;
  width: 500px;
}

input {
  font-size: 20px;
}

li {
  list-style-type: none;
}
